
img{
    width: 19px;
    width: 19px;
    margin-left: 5px;
}
.menu{
    position: relative;
}
.mt{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10000;
    padding-bottom: 100px;
    background: #fff;
}
.arrow {
    position: absolute;
    top: calc(50% - 13px) !important;
    right: 17px;
}
.logt{
    margin-right: 11px;

}
.loga_{
    color: #000000;
    position: relative;
    font-size: 14px;
    display: flex;
    overflow: hidden;
    line-height: 2rem;
    cursor: pointer;
    padding: 9px 9px 9px 9px;
    margin: 8px 13px 0px 13px;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: flex-start;
}
.sett{
    color: #000000;
    position: relative;
    font-size: 14px;
    display: flex;
    overflow: hidden;
    line-height: 2rem;
    cursor: pointer;
    padding: 9px 9px 9px 9px;
    margin: 8px 6px;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    min-width: 46px;
}

