<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 auth-form-section relative width_100">
      <div>
        <img
          class="carosel_logo"
          src="assets/images/image-gallery/logo.png"
          alt=""
        />
      </div>
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg">Reset Password</h2>
          <p class="welcome_details text-muted">
            Please enter your registered email.</p>
          <form
            class="validate-form"
            [formGroup]="authForm"
          >
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required />
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error
                    *ngIf="
                      authForm.get('email').hasError('required') ||
                      authForm.get('email').touched
                    "
                  >
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt__22">
              <app-button
              [data]="{
                ButtonLabel: 'Reset My Password',
                buttonDisabled: authForm.invalid,
                type: 'primary'
              }"
              (onSubmitValue)="onSubmit()"
            ></app-button>
            </div>
            <div class="mt__22">
              <p class="auth-signup-text text-muted">
                Already Registered?<a
                  routerLink="/usermanagement/signin"
                  class="sign-up-link"
                  >Login
                </a>
              </p>
            </div>
          </form>
        </div>
      </div>
      <div class="outer_de">
        <div class="policy">
          By logging,you confirm that you've read and accepted our
        </div>
        <div class="cookies">Cookies Policy</div>
      </div>
    </div>
    <div class="col-sm-6 px-0  d-xs-block">
      <app-carosel [imageArray]="event_list"></app-carosel>
    </div>
  </div>
</div>
