.materialTableHeader {
  padding: 0px 0px 25px;
  .my-div{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items:center;
    .popup_button{
      margin-left: auto;
      display: flex;
      align-items: center;
      app-file-upload{
        margin-right: 15px;
      }
    }
    h2{
      font-size: 24px;
      color: #000;
      strong{
        font-weight: 500;
      }
    }
  }
}
