<section class="content module_wrap">
    <div class="content-block">
        <app-wrapper>
            <div class="no_screen_paired">
                
                <div class="container">

                    <div class="heading">
                        <h2>No screens paired yet</h2>
                        <p>Adding a screen is super simple!</p>
                    </div>

                    <div class="screens_list">
                        <div class="screen">
                            <div class="screen_image">
                                <img src="assets/images/screens/screen_01.png">
                            </div>
                            <p>Download the Adsway player app on <a href="#">your media device</a> or open <a href="#">web player</a></p>
                        </div>
                        <div class="screen">
                            <div class="screen_image">
                                <img src="assets/images/screens/screen_02.png">
                            </div>
                            <p>Launch the player and you’ll see a pairing code. Jackpot! That’s what you need to add a screen</p>
                        </div>
                        <div class="screen">
                            <div class="new_screen screen_image">
                                <div><span>New Screen</span></div>
                            </div>
                            <p>Type in the pairing code and that’s it, your screen is paired</p>
                        </div>
                    </div>

                </div>

            </div> 
        </app-wrapper>
    </div>
</section>
