.row{
    width:100%
}
.wrappers{
    padding: 1em;
    background-color: #f5f6f6;
    border-radius: 4px;
}

.location{
    font-size: 15px;
    font-weight: 600;
    margin-left: 1.5em;
    margin: 1em 0em 1em 1.4em;
}
.til{
    font-size: 1.4em;
    margin-bottom: 10px;
}
.padding_20 {
    padding: 0px 20px 20px 20px;
}